@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.Main {
    padding-top: 10px;
    height: 100vh;
    background: url("bg.jpg");
    background-position: center;
    font-family: "Space Mono", monospace;
}

/* .Home {
    font-size: 90%;
} */

.Home > nav > div > a {
    font-size: 110%;
    font-weight: bold;
    color: #df6560;
}

.Home > nav > div > a:hover {
    color: #f6bf76;
    text-decoration: underline wavy;
}

.Home > nav > div > ul > li > a {
    font-weight: bold;
    color: #df6560;
}

.Home > nav > div > ul > li > a:hover {
    text-decoration: underline wavy;
    color: #f6bf76;
}

.container > div {
    width: 60%;
    margin-top: 80px;
    position: relative;
}

.container > div > h1 {
    font-size: 80px;
    font-weight: bolder;
}

.container > div > a {
    color: #df6560;
    font-size: 120%;
}

.container > div > a:hover {
    color: #f6bf76;
    text-decoration: underline wavy;
}

@media screen and (max-width: 580px) {
    .container > div {
        width: 80%;
        text-align: center;
        margin-top: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .container > div > h1 {
        font-size: 50px;
    }

    .Home > nav > div {
        justify-content: center !important;
    }
  }